{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="form-wrapper">
    <div>
      <h2>Ingresa tu cuenta</h2>
    </div>
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="input-group">
        <label for="username">{{ form.username.label.text }}</label>
        {{ form.username(class_="input-field") }}
      </div>
      <div class="input-group">
        <label for="password">{{ form.password.label.text }}</label>
        {{ form.password(class_="input-field") }}
      </div>
      <div>
        {{ form.submit(class_="btn-submit") }}
      </div>
    </form>
    <div class="signup-link">
      No tienes cuenta? <a href="{{ url_for('register') }}">Registrate aquí</a>
    </div>
  </div>
</div>
{% endblock %}
